body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Tsukushi A Round Gothic", "筑紫A丸ゴシック";
}

.atm-panel {
    background-image: url("/assets/back.jpg");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: auto;
    padding: 20px 20px 10px;
    max-width: 1080px;
    width: 100%;
    height: 550px;
}

.main-window {
    display: flex;
    flex-direction: row;
    flex: 2;
}

.messege-window {
    display: flex;
    flex: 2;
    width: auto;
    position: relative;
}

.payee {
    position: relative;
    flex: 1;
    transition: all .3s;
}

.messege-window img {
    width: 100%;
    transform: scale(-1, -1);
    position: relative;
}

.messege {
    font-size: 20px;
    writing-mode: vertical-rl;
}

.payee img {
    width: 430px;
    height: 600px;
}

.messege-range {
    position: absolute;
    width: 120px;
    padding: 50px;
    text-align: -webkit-center;
}

.side-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 480px;
    background: #F4B4D0;
    border: 2px dashed #F7F9CC;
    border-radius: 10px;
    box-shadow: 0 0 0 7px #F4B4D0;
}

.payee-info {
    border-bottom: dotted 2px #CF737A;
    padding-bottom: 10px;
}

.payee-info h1 {
    margin: 0;
    padding: 10px;
    margin-top: 0;
    color: #fff;
    display: inline;
}

.payee-info p {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 20px;
}

.balance {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 50px;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log-window {
    background-image: url("/assets/fream.png");
    background-size: cover;
    margin-top: 10px;
    padding: 20px;
    width: 85%;
    height: 350px;
    border-radius: 10px;
    background-color: #fff;
    border: solid 2px #F7F9CC;
    background-color: #fff;
    overflow: scroll;
}

.log-window p {
    margin-top: 10px;
    font-size: 20px;
}

.withdrawal {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
}

.balance h2 {
    font-size: 18px;
    font-weight: 100;
}

.gage {
    width: 15%;
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
}

.gage.payment {
    background-color: #187FC4;
}

.withdrawal button {
    width: 40%;
    margin-top: 20px;
    padding: 10px;
    background: #CF737A;
    border: 1px solid #DDD;
    border-radius: 70px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    color: #fff;
    font-size: 15px;
}

.is-hop {
    transform: translate3d(0, -40px, 0);
    transition: all .3s;
}

.expression img,
.item img,
.leg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.expression-smile,
.expression-blink,
.expression-worry {
    display: none;
}

.str-box {
    transition: all .4s;
}

.is-show {
    display: block;
}

.is-hide {
    display: none;
}